[Unit]
Description=BIST before mender commit
After=multi-user.target @@MENDER/STANDALONE_DAEMON_BIST_SYSTEMD_AFTER@@
Requires=multi-user.target @@MENDER/STANDALONE_DAEMON_BIST_SYSTEMD_AFTER@@

[Service]
Type=simple
ExecStart=@@sbindir@@/mender-bist-commit.sh

TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
